// COLORS

@beige: hsl(45, 18%, 91%);
@beige-dark: hsl(44, 22%, 77%);
@beige-dark-2: hsl(45, 21%, 71%);
@beige-light: hsl(26, 15%, 91%);
@beige-light-2: hsl(36, 12%, 92%);
@beige-light-3: hsl(40, 12%, 95%);

@black: hsl(0, 0%, 16%);

@grey: hsl(0, 0%, 75%);
@grey-dark: hsl(0, 0%, 50%);
@grey-dark2: hsl(0, 0%, 38%);
@grey-dark-3: hsl(0, 0%, 29%);
@grey-light: hsl(0, 0%, 83%);
@grey-light-2: hsl(0, 4%, 89%);
@grey-light-3: hsl(30, 20%, 98%);

@lime: hsl(66, 68%, 57%);
@lime-light: hsl(67, 100%, 98%);

@mint: hsl(166, 39%, 54%);
@mint-dark: hsl(166, 30%, 46%);
@mint-light: hsl(167, 35%, 57%);
@mint-light-2: hsl(168, 100%, 98%);

@pink: hsl(352, 76%, 65%);
@pink-light: hsl(351, 64%, 98%);

@salmon: hsl(7, 79%, 68%);
@salmon-light: hsl(8, 74%, 74%);

@white: #fff;
